Checks: '-*,
    bugprone-branch-clone,
    bugprone-copy-constructor-init,
    bugprone-dangling-handle,
    bugprone-dynamic-static-initializers,
    cppcoreguidelines-avoid-goto,
    misc-const-correctness,
    modernize-avoid-bind,
    modernize-use-nullptr,
    performance-faster-string-find,
    performance-for-range-copy,
    readability-non-const-parameter
    '

HeaderFilterRegex: 'Source[a-z_A-Z0-9\/]+\.H$'
