Checks: '-*,
    cppcoreguidelines-avoid-goto,
    misc-const-correctness,
    modernize-avoid-bind,
    modernize-use-nullptr,
    performance-faster-string-find,
    performance-for-range-copy,
    readability-non-const-parameter
    '

HeaderFilterRegex: 'Source[a-z_A-Z0-9\/]+\.H$'
