# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://pre-commit.com for more information

# Do not check/format anything from third parties
exclude: '^share/openPMD/thirdParty'

# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
    - id: end-of-file-fixer
      exclude: '.json$'
    - id: mixed-line-ending
    - id: check-json
    - id: check-toml
    - id: check-yaml
    - id: check-added-large-files
    - id: requirements-txt-fixer
#  - id: fix-encoding-pragma
#    exclude: ^noxfile.py$

# documentation files: .rst
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
#    - id: rst-backticks
    - id: rst-directive-colons
    - id: rst-inline-touching-normal

#- repo: https://github.com/asottile/pyupgrade
#  rev: v2.29.0
#  hooks:
#  - id: pyupgrade

# Changes tabs to spaces
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.2.0
  hooks:
  - id: remove-tabs
    exclude: 'Make.WarpX|Make.package|Makefile|GNUmake'

# CMake formatting
#- repo: https://github.com/cheshirekow/cmake-format-precommit
#  rev: v0.6.13
#  hooks:
#  - id: cmake-format
#    additional_dependencies: [pyyaml]
#    types: [file]
#    files: (\.cmake|CMakeLists.txt)(.in)?$

# C++ formatting
# clang-format

# Autoremoves unused Python imports
- repo: https://github.com/hadialqattan/pycln
  rev: v1.3.3
  hooks:
  - id: pycln
    name: pycln (python)

# Sorts Python imports according to PEP8
# https://www.python.org/dev/peps/pep-0008/#imports
- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort
    name: isort (python)

# Python: Flake8 (checks only, does this support auto-fixes?)
#- repo: https://github.com/PyCQA/flake8
#  rev: 4.0.1
#  hooks:
#  - id: flake8
#    additional_dependencies: &flake8_dependencies
#      - flake8-bugbear
#      - pep8-naming
#    exclude: ^(docs/.*|tools/.*)$
# Alternatively: use autopep8?

# Python Formatting
#- repo: https://github.com/psf/black
#  rev: 21.10b0 # Keep in sync with blacken-docs
#  hooks:
#  - id: black
#- repo: https://github.com/asottile/blacken-docs
#  rev: v1.11.0
#  hooks:
#  - id: blacken-docs
#    additional_dependencies:
#    - black==21.10b0 # keep in sync with black hook

# Checks the manifest for missing files (native support)
- repo: https://github.com/mgedmin/check-manifest
  rev: "0.48"
  hooks:
  - id: check-manifest
    # This is a slow hook, so only run this if --hook-stage manual is passed
    stages: [manual]
    additional_dependencies: [cmake, ninja]
