# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://pre-commit.com for more information

# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
    - id: end-of-file-fixer
    - id: mixed-line-ending
    - id: check-json
    - id: check-toml
    - id: check-yaml
    - id: check-added-large-files
#  - id: fix-encoding-pragma
#    exclude: ^noxfile.py$

#- repo: https://github.com/asottile/pyupgrade
#  rev: v2.29.0
#  hooks:
#  - id: pyupgrade

# Changes tabs to spaces
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.10
  hooks:
  - id: remove-tabs
