# basic dependencies
numpy~=1.15
periodictable~=1.5

# PICMI
# note: don't forget to update the version in Docs/requirements.txt, too
picmistandard==0.0.19
#   for development against an unreleased PICMI version, use:
#picmistandard @ git+https://github.com/picmi-standard/picmi.git#subdirectory=PICMI_Python

# optional, some used for testing:
# yt
# openpmd-api
# openpmd-viewer
# matplotlib
# pandas
