# please set your project account
#export proj="<yourProjectNameHere>"  # edit this and comment in

# required dependencies
module load cmake/3.30.5
module load clang/22.1.5-magic
module load mvapich2/2.3.7

# optional: for PSATD support
module load fftw/3.3.10

# optional: for QED lookup table generation support
module load boost/1.86.0

# optional: for openPMD support
module load hdf5-parallel/1.14.0

if [ -z "${WARPX_SW_DIR+x}" ]; then
    WARPX_SW_DIR="/usr/workspace/${USER}/dane"
fi

export CMAKE_PREFIX_PATH=${WARPX_SW_DIR}/install/c-blosc-1.21.6:$CMAKE_PREFIX_PATH
export CMAKE_PREFIX_PATH=${WARPX_SW_DIR}/install/adios2-2.10.2:$CMAKE_PREFIX_PATH
export PATH=${WARPX_SW_DIR}/install/adios2-2.10.2/bin:${PATH}

# optional: for PSATD in RZ geometry support
export CMAKE_PREFIX_PATH=${WARPX_SW_DIR}/install/blaspp-2024.10.26:$CMAKE_PREFIX_PATH
export CMAKE_PREFIX_PATH=${WARPX_SW_DIR}/install/lapackpp-2024.10.26:$CMAKE_PREFIX_PATH
export LD_LIBRARY_PATH=${WARPX_SW_DIR}/install/blaspp-2024.10.26/lib64:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=${WARPX_SW_DIR}/install/lapackpp-2024.10.26/lib64:$LD_LIBRARY_PATH

# optional: for implicit solvers
# only do this is PETSC_DIR is not already defined
if [[ -z "${PETSC_DIR:-}" ]]; then
    export PETSC_DIR="${WARPX_SW_DIR}/src/petsc"
    export PETSC_ARCH="arch-opt"
fi

# optional: for Python bindings
#module load python/3.12.2 # Note this version uses a too new GLIBCXX and breaks the adios build
module load python/3.14.6

if [ -d "${WARPX_SW_DIR}/venvs/warpx-dane" ]
then
    source ${WARPX_SW_DIR}/venvs/warpx-dane/bin/activate
fi

# optional: an alias to request an interactive node for two hours
alias getNode="srun --time=2:00:00 --nodes=1 --ntasks-per-node=2 --cpus-per-task=56 -p pdebug --pty bash"
# an alias to run a command on a batch node for up to 1 hour
#   usage: runNode <command>
alias runNode="srun --time=1:00:00 --nodes=1 --ntasks-per-node=1 --cpus-per-task=56 -p pdebug"

# fix system defaults: do not escape $ with a \ on tab completion
shopt -s direxpand

# optimize CPU microarchitecture for Intel Sapphire Rapids
# note: the cc/CC/ftn wrappers below add those
export CXXFLAGS="-march=sapphirerapids"
export CFLAGS="-march=sapphirerapids"

# compiler environment hints
export CC=$(which clang)
export CXX=$(which clang++)
export FC=$(which gfortran)
