# please set your project account
#export proj=<yourProject>

# required dependencies
module load cmake/3.20.2
module load craype-accel-amd-gfx908
module load rocm/4.3.0

# optional: faster builds
module load ccache
module load ninja

# optional: just an additional text editor
module load nano

# optional: an alias to request an interactive node for one hour
alias getNode="salloc -A $proj -J warpx -t 01:00:00 -p ecp -N 1"

# fix system defaults: do not escape $ with a \ on tab completion
shopt -s direxpand

# optimize CUDA compilation for MI100
export AMREX_AMD_ARCH=gfx908

# compiler environment hints
export CC=$ROCM_PATH/llvm/bin/clang
export CXX=$(which hipcc)
export LDFLAGS="-L${CRAYLIBS_X86_64} $(CC --cray-print-opts=libs) -lmpi"
# GPU aware MPI: ${PE_MPICH_GTL_DIR_gfx908} -lmpi_gtl_hsa
