# Set the project name
export proj=""  # change me!

# swap to GNU programming environment (with gcc 11.2)
module swap PrgEnv-nvhpc PrgEnv-gnu
module load gcc-native/12.3
module load nvhpc-mixed/23.9

# swap to the Milan cray package
module load craype-x86-milan

# extra modules
module use /soft/modulefiles
module load spack-pe-gnu

# required dependencies
module load cmake/3.27.7

# optional: for QED support with detailed tables
module load boost

# optional: for openPMD and PSATD+RZ support
export CMAKE_PREFIX_PATH=/home/${USER}/sw/polaris/gpu/c-blosc-1.21.1:$CMAKE_PREFIX_PATH
export CMAKE_PREFIX_PATH=/home/${USER}/sw/polaris/gpu/hdf5-1.14.1.2:$CMAKE_PREFIX_PATH
export CMAKE_PREFIX_PATH=/home/${USER}/sw/polaris/gpu/adios2-2.8.3:$CMAKE_PREFIX_PATH
export CMAKE_PREFIX_PATH=/home/${USER}/sw/polaris/gpu/blaspp-2024.05.31:$CMAKE_PREFIX_PATH
export CMAKE_PREFIX_PATH=/home/${USER}/sw/polaris/gpu/lapackpp-2024.05.31:$CMAKE_PREFIX_PATH

export LD_LIBRARY_PATH=/home/${USER}/sw/polaris/gpu/c-blosc-1.21.1/lib64:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=/home/${USER}/sw/polaris/gpu/hdf5-1.14.1.2/lib64:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=/home/${USER}/sw/polaris/gpu/adios2-2.8.3/lib64:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=/home/${USER}/sw/polaris/gpu/blaspp-2024.05.31/lib64:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=/home/${USER}/sw/polaris/gpu/lapackpp-2024.05.31/lib64:$LD_LIBRARY_PATH

export PATH=/home/${USER}/sw/polaris/gpu/hdf5-1.14.1.2/bin:${PATH}
export PATH=/home/${USER}/sw/polaris/gpu/adios2-2.8.3/bin:${PATH}

# optional: for Python bindings or libEnsemble
module load python/3.10.9

if [ -d "/home/${USER}/sw/polaris/gpu/venvs/warpx" ]
then
  source /home/${USER}/sw/polaris/gpu/venvs/warpx/bin/activate
fi

# necessary to use CUDA-Aware MPI and run a job
export CRAY_ACCEL_TARGET=nvidia80

# optimize CUDA compilation for A100
export AMREX_CUDA_ARCH=8.0

# optimize CPU microarchitecture for AMD EPYC 3rd Gen (Milan/Zen3)
# note: the cc/CC/ftn wrappers below add those
export CXXFLAGS="-march=znver3"
export CFLAGS="-march=znver3"

# compiler environment hints
export CC=$(which gcc-12)
export CXX=$(which g++-12)
export CUDACXX=$(which nvcc)
export CUDAHOSTCXX=${CXX}
