# Copyright 2019 Axel Huebl, Maxence Thevenet
#
# This file is part of WarpX.
#
# License: BSD-3-Clause-LBNL

breathe
# docutils 0.17 breaks HTML tags & RTD theme
# https://github.com/sphinx-doc/sphinx/issues/9001
docutils<=0.16

# PICMI API docs
# note: keep in sync with version in ../requirements.txt
picmistandard==0.0.19
# for development against an unreleased PICMI version, use:
#picmistandard @ git+https://github.com/picmi-standard/picmi.git#subdirectory=PICMI_Python
pygments
recommonmark
sphinx>=2.0
sphinx_rtd_theme>=0.3.1
