name: macOS build

on: [push, pull_request]

jobs:
  build_gcc9:
    name: AppleClang [macOS]
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: install dependencies
      run: |
        set +e
        brew update
        brew install cmake
        brew install fftw
        brew install libomp
        brew install open-mpi
        brew install pkg-config
        set -e
        brew tap openpmd/openpmd
        brew install openpmd-api
    - name: build WarpX
      run: |
        mkdir build_dp && cd build_dp
        cmake .. -DCMAKE_VERBOSE_MAKEFILE=ON -DWarpX_OPENPMD=ON -DWarpX_openpmd_internal=OFF
        make -j 2

        cd ..

        mkdir build_sp && cd build_sp
        cmake .. -DCMAKE_VERBOSE_MAKEFILE=ON -DWarpX_OPENPMD=ON -DWarpX_openpmd_internal=OFF -DWarpX_PRECISION=single
        make -j 2
